<launch>
  <include file="$(find arm1)/launch/robot_description.xml"/>
  <include file="$(find arm1)/launch/robot_control.xml"/>

  <!--Launch a gazebo world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- The arm mover node -->
  <node 
      name="arm_mover" 
      type="arm_mover" 
      pkg="arm1">
    <rosparam>
      min_joint_angle: -3.14
      max_joint_angle: 3.14
    </rosparam>
  </node>

  <!-- The arm command node -->
  <node 
      name="arm_command" 
      type="arm_command" 
      pkg="arm1">
    <rosparam>
      program_run : False
    </rosparam>
  </node>

  <node 
     name="urdf_spawner" 
     pkg="gazebo_ros" 
     type="spawn_model" 
     respawn="false" output="screen"
     args="-urdf -param robot_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0 -model arm1"/>

</launch>
